{% extends 'base.html.twig' %}

{% block title %}Hello DevController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Привет, пользователь!</h1>
    <p> Перейдя на эту страницу ты создал запись в базе данных! </p>

    <form action="" method="post">
    <input type="submit" value="Отправь меня!" style="margin-top: 20px;"/>
    </form>
    

</div>
{% endblock %}
